<html>
    <head>
        <title>Сергей Константинович Крикалёв</title>
        
        <style>
            body{
                background-color: #FFF5EE;
                color: #654511;
                font-family: Georgia, sans-serif;
                line-height: 1.6;
            }
            p {
                text-indent: 30px;
            }
        </style>
    </head>
    <body>
        <a href="{% url 'home'%}">Вернуться назад</a>
        <br>
        <br>

        <h1 style="text-align: center;"><b>Сергей Константинович Крикалёв</b></h1>
        <div style="text-align: center;">
        <img src="/static/images/krikalev.jpg" alt="Тест" width="200">
        </div>

        <h3><b>Детство</b></h3>

        <p><i>Его судьба была предопределена самим воздухом города на Неве,
            где наука и романтика переплетались в единое целое. Сергей Крикалёв родился 27 августа 1958 года в Ленинграде
            — городе-колыбели русской космонавтики, городе Королёва и первых ракетных кружков.</i></p>

        <p><i>С малых лет его мир был наполнен не детскими забавами,
            а жужжанием моторов и запахом касторового масла. Вместо игрушек его манили штурвалы и лонжероны.
            Он погрузился в мир авиамодельного спорта, где каждая секунда полёта созданной своими руками модели была дороже любой конфеты.
            Руки, привыкшие держать ножовку и наждачную бумагу, уже тогда учились чувствовать материал
            Позже пришло увлеение греблей на байдарках — спорт, воспитавший в нём не просто силу, а выносливость,
            ритм и умение идти против течения, что стало пророческой метафорой всей его жизни.</i></p>

        <p><i>Эта одержимость техникой и спортом закономерно привела его в Ленинградский механический институт,
            готовивший кадры для военно-космической отрасли. Дипломная работа талантливого студента была посвящена
            проектированию спортивного самолета — последняя ступень перед космосом.</i></p>

        <h3><b>Лётная карьера и отбор в космонавты</b></h3>

        <p><i>Его космическая карьера, начавшаяся с 151-суточного полёта на орбитальную станцию «Мир» в 1988 году,
            с самого начала была отмечена высочайшим профессионализмом и готовностью к сложнейшим вызовам.
            Уже в той первой экспедиции он совершил свой первый выход в открытый космос. Однако настоящая легенда,
            навсегда вписавшая его имя в историю, родилась в 1991 году. Стартовав 18 мая на станцию «Мир»
            как гражданин СССР, Крикалёв оказался в ситуации, не имевшей аналогов: пока он работал на орбите,
            Советский Союз прекратил своё существование. В условиях политического и экономического хаоса его
            полёт был продлён до рекордных на тот момент 312 суток. Он остался на станции, демонстрируя беспрецедентную
            верность долгу и космическому братству, за что журналисты назвали его «последним гражданином СССР».
            За этот подвиг он был удостоен звания Героя Российской Федерации.</i></p>

        <h3><b>Космический полёт и научная деятельность</b></h3>

        <p><i>Вернувшись на изменившуюся Землю, Крикалёв не просто продолжил карьеру,
            а стал ключевой фигурой в новом этапе космических исследований — международном сотрудничестве.
            В 1994 году он вошёл в историю как первый российский космонавт, полетевший на американском шаттле «Дискавери»
            по программе STS-60. Его уникальный опыт был востребован при создании Международной космической станции:
            он участвовал в первой экспедиции на МКС в 1998 году и внёс значительный вклад в её сборку и подготовку к
            постоянной эксплуатации. Свой шестой и последний космический полёт Крикалёв завершил в 2005 году,
            установив абсолютный мировой рекорд по суммарному пребыванию в космосе — 803 дня 9 часов 39 минут,
            который оставался непобитым в течение многих лет.</i></p>
        
        <h3><b>Дальнейшая служба и общественная деятельность</b></h3>

        <p><i>Закончив лётную карьеру, Сергей Крикалёв не покинул космическую отрасль,
            перейдя на руководящую работу. Он занимал ответственные посты в Роскосмосе,
            был исполнительным директором по пилотируемым программам, а в 2020 году возглавил Лётно-космический центр РКК
            «Энергия» — предприятие, откуда начинался его путь в космос. Таким образом,
            биография Сергея Крикалёва — это цельная история длиною в жизнь, путь от увлечённого ленинградского мальчишки
            до живого символа космической эпохи, архитектора орбитальных станций и человека,
            чьё имя стало синонимом надёжности и преданности космосу.</i></p>
        
    </body>
</html>