<html>
   <head>
      <title>Геннадий Иванович Падалка</title>

      <style>
         body{
            background-color: #FFF5EE;
            color: #654511;
            font-family: Georgia, sans-serif;
            line-height: 1.6;
         }
         p {
            text-indent: 30px;
         }
      </style>

   </head>
   <body>
      <a href="{% url 'home'%}">Вернуться назад</a>
      <br>
      <br>

      <h1 style="text-align: center;"><b>Геннадий Иванович Падалка</b></h1>
      <div style="text-align: center;">
      <img src="/static/images/padalka.jpg" alt="Тест" width="200">
      </div>

      <h3><b>Ранние годы и становление</b></h3>

      <p><i>Геннадий Иванович Падалка родился 21 июня 1958 года в Краснодаре.
         Его интерес к авиации проявился уже в старших классах школы, когда он начал
         заниматься в Краснодарском авиаспортивном клубе. Здесь он не только изучал теорию полёта,
         но и совершил свои первые прыжки с парашютом, почувствовав настоящую связь с небом.
         Это увлечение переросло в осознанное желание стать профессиональным лётчиком.</i></p>

      <p><i>После окончания средней школы в 1975 году Падалка поступил в Ейское высшее военное
         авиационное училище лётчиков имени В. М. Комарова. Это учебное заведение,
         готовившее высококлассных специалистов для морской авиации, имело безупречную репутацию.
         Геннадий учился с большим старанием, осваивая как теоретические дисциплины, так и практические
         навыки пилотирования. В 1979 году он с отличием окончил училище, получив квалификацию
         «лётчик-инженер» и звание «лейтенант».</i></p>

      <h3><b>Путь в отряд космонавтов и подготовка</b></h3>

      <p><i>В 1989 году, благодаря безупречной лётной репутации, Геннадий Падалка был зачислен в отряд
         космонавтов ЦПК ВВС. Начался интенсивный период общекосмической подготовки,
         который он успешно завершил в 1991 году, получив квалификацию «космонавт-испытатель».
         В последующие годы он углублённо готовился к полётам, изучая системы орбитальной станции «Мир»,
         а позже — Международной космической станции. Падалка входил в дублирующие экипажи,
         и его целеустремлённость, coupled с инженерным складом ума, позволили ему пройти долгий шестилетний
         путь подготовки к первой экспедиции.</i></p>

      <h3><b>Первый полёт и установление рекордов</b></h3>

      <p><i>Свой первый космический полёт Геннадий Падалка совершил 13 августа 1998 года в качестве командира корабля «Союз ТМ-28»
         и 26-й основной экспедиции на станцию «Мир». Продолжительность этой миссии составила 198 суток.
         Во время полёта экипаж провёл обширную программу научных экспериментов,
         а Падалка выполнил свой первый выход в открытый космос для проведения монтажных работ.
         Этот полёт положил начало его уникальной карьере, в ходе которой он совершил 5 космических
         экспедиций (на «Мире» и МКС). 11 сентября 2015 года Геннадий Падалка установил абсолютный
         мировой рекорд по суммарной продолжительности нахождения в космосе — 878 суток 11 часов 29 минут.
         Также он совершил 10 выходов в открытый космос общей продолжительностью более 38 часов.</i></p>
      
      <h3><b>Наследие и дальнейшая деятельность</b></h3>

      <p><i>После завершения активной лётной карьеры Геннадий Падалка продолжил работу в космической
         отрасли. Он занимался подготовкой новых поколений космонавтов в Центре подготовки космонавтов
         имени Ю. А. Гагарина, передавая свой бесценный опыт. Его карьера стала важным вкладом в изучение
         долговременного пребывания человека в космосе, предоставив уникальные данные для будущих
         межпланетных экспедиций. Имя Геннадия Падалки навсегда останется в истории космонавтики как
         символ невероятной выносливости, профессионализма и преданности делу освоения космоса.</i></p>
      
   </body>
</html>